<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mainpage</title>
    <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <style>
        h4 {
            text-align: center;
            font-family: 'Architects Daughter', cursive;
            margin: 15px;
            padding: 20px;
        }

        a {
            color: black;
        }
        a:hover{
            color: coral;
        }

        div {
            text-align: center;
        }

        body {
            margin: 100px;
        }

        p {
            text-align: center;
        }

        .main01 {
            position: fixed;
            width: 450px;
            left: 0;
            bottom: 0;
        }

        .main02 {
            position: fixed;
            width: 450px;
            right: 0;
            top: 0;
        }
    </style>
</head>

<body>

    <article>
        <h4>
            <a href="/lookbook">LOOKBOOK <i class="fa fa-street-view" aria-hidden="true"></i></a>
        </h4>
        <h4>
            <a href="/onlineshop">ONLINESTORE <i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
        </h4>
        <h4>
            <a href="https://instagram.com/bornrichworldwide?igshid=110t3y8muusdw">INSTAGRAM <i class="fab fa-instagram"
                    aria-hidden="true"></i></a>
        </h4>
        <h4>
            <a href="mailto:123@iii.org.tw">CONTACT US <i class="fa fa-paper-plane" aria-hidden="true"></i></a>
        </h4>
        <h4>
            <a href="/store_info">STORE INFO <i class="fa fa-map-marker-alt" aria-hidden="true"></i></a>
        </h4>
        <h4>
            <a href="/login">LOGIN <i class="fa fa-user-circle" aria-hidden="true"></i></a>
        </h4>
    </article>
    <img src="/img/main01.jpg" class="main01">
    <img src="/img/main02.jpg" class="main02">


    </div><br><br><br>
    <p>Copyright &copy; 2020 BORNRICH CO.,LTD. All rights reserved.</p>

</body>

</html>