<%- include("parts/html-head") %>
<%- include("parts/navbars") %>

    <style>
        #item02 {
            overflow: auto;
        }

        body {
            display: inline;
        }
        div{
            font-family:'Noto Sans JP';
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col text-center" id="item01">
                <img height="300px" src="img/shop01.jpg" /><br />
                BORNRICH<br>RICH CAT TEE <br> <strong>產品金額$NT1000</strong><br />
                <button class="btn btn-warning my-cart-btn" data-id="1" data-image="圖片.png" data-name="product 1"
                    data-price="10" data-quantity="1" data-summary="summary 1">加入購物車</button>
            </div>

            <div class="col text-center" id="item02">
                <img height="300px" src="img/shop02.jpg" /><br />
                BORNRICH<br>RICH CAT TEE <br> <strong>產品金額$NT1000</strong><br />
                <button class="btn btn-warning my-cart-btn" data-id="1" data-image="圖片.png" data-name="product 1"
                    data-price="10" data-quantity="1" data-summary="summary 1">加入購物車</button>
            </div>
        </div>

            <div class="row">
                <div class="col text-center">
                    <img height="300px" src="img/shop03.jpg" /><br />
                    BORNRICH<br>LOGO TEE <br> <strong>產品金額$NT1000</strong><br />
                    <button class="btn btn-warning my-cart-btn" data-id="1" data-image="圖片.png" data-name="product 1"
                        data-price="10" data-quantity="1" data-summary="summary 1">加入購物車</button>
                </div>

                <div class="col text-center">
                    <img height="300px" src="img/shop04.jpg" /><br />
                    BORNRICH<br>LOGO TEE <br> <strong>產品金額$NT1000</strong><br />
                    <button class="btn btn-warning my-cart-btn" data-id="1" data-image="圖片.png" data-name="product 1"
                        data-price="10" data-quantity="1" data-summary="summary 1">加入購物車</button>
                </div>
            </div>            
        </div>

</body>





<%- include("parts/scripts") %>
<%- include("parts/html-foot") %>