<%- include("parts/html-head") %>
<%- include("parts/navbars") %>

<style>
    iframe{
        margin: 30px;
    }
    .img{
        position: fixed;
        float: right;
        right: 0;
        bottom: 0;
        
    }
    .content{
            font-family:'Noto Sans JP';
        }
</style>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3615.0051090185034!2d121.54120951500624!3d25.033900683972437!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442abd379a5ec97%3A0xec12a62666a81e3d!2zMTA25Y-w5YyX5biC5aSn5a6J5Y2A5b6p6IiI5Y2X6Lev5LiA5q61Mzkw6Jmf!5e0!3m2!1szh-TW!2stw!4v1591149291473!5m2!1szh-TW!2stw" width="450" height="350" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>


<ul class="content">
    <li>Address： 106台北市大安區復興南路一段390號2樓</li>
    <li>Opening Time：09:00~21:00</li>
    <li>Tel： 02 6631 6666</li>
</ul>

<img src="/img/born05.jpg" class="img"> 


<%- include("parts/scripts") %>
<%- include("parts/html-foot") %>